luigi
warcio
jupyterlab
matplotlib
wandb
defaultlist
dask[distributed,dataframe]
dask-jobqueue
dask-expr
pypandoc
torch
pytorch-lightning
transformers
pyarrow
brotlipy
boto3
s3fs==2024.5.0
ftfy
s3path==0.5.7
pandas==2.0.3
numba
trafilatura
datatrove
xxhash
nltk
faust-cchardet
fasteners
